.light-theme {
  --background-color: white;
  --text-color: black;
}

.dark-theme {
  --background-color: black;
  --text-color: white;
}

body {
  height: 100vh;
  position: relative;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Tourney", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.sections{
  width: 100%;
  min-height: 100vh;
}

.menu {
 width: 100px;
 position: fixed;
 right: 32px;
 top: 32px;
 z-index: 10;
}

.menu::after, .menu::before{
  position: fixed;
  top: 30px;
  content: '';
  display: block;
  height: 5px;
  width: 100px;
  background-color: var(--text-color);
  transition: all .4s;
  cursor: pointer;
}

.menu::after{
  top: 45px;
  height: 5px;
}

.menu::after {
  width: 75px;
  margin-left: 25px;
}

.open.menu::before{
  top: 0px;
}

.open.menu::after{
  transform: rotate(45deg);
  margin-left: 0px;
  top: 45px;
}

.open.menu::before{
  transform: rotate(-45deg);
  width: 75px;
  top: 45px;
}

.arrow {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes arrow_down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.arrow img {
  width: 50px;
  height: 50px;
  animation: arrow_down 2s infinite;
}

.pag{
  position: fixed;
  top: 50%;
  right: 32px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 25px;
  z-index: 10;
}

.menu-text a {
  text-decoration: none;
  outline: none;
  color: var(--background-color)
}

.menu-text-mob a {
  text-decoration: none;
  outline: none;
  color: var(--background-color)
}

.box{
  width: 20px;
  height: 20px;
  border: 1px solid var(--text-color);
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.selected.box-circle {
  background-color: var(--text-color);
  width: 10px;
  height: 10px;
  border-radius: 9999px;
  transition: all .3s;
}

.neon-text{
  color: yellow;
  font-weight: 900;
}

@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
  .menu {
    left: 20px;
    top: 20px;
    position: fixed;
  }

  .menu::after, .menu::before {
    width: 60px;
    height: 3px;
    left: 32px;
    top:20px;
    position: fixed;
  }

  .menu::after {
    margin-left: 0px;
    width: 40px;
    top:30px;
  }

  .open.menu::before, .open.menu::after{
    width: 40px;
    top: 25px;
  }


  .pag{
    top:80%;
    transform: translateY(-80%);
    right: 15px;
    z-index: 10;
  }

  .box{
    width: 15px;
    height: 15px;
  }

  .selected.box-circle{
    width: 7.5px;
    height: 7.5px;
  }
}

@media only screen 
and (min-width : 540px) 
and (max-width : 1024px) {
  .pag {
    right: 3%;
  }
}

.canvas{
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
}